{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}
    <div class="container mt-5 mb-5 text-center">
        <label for="">
            <button class="btn btn-light btn-md btn-block">Chercher un Professionnel</button>
        </label>
    </div>


    <div class="container mt-5 mb-3 text-center">
        <!-- Content here -->
        <a href="">
            <button type="button" class="btn btn-warning">Abonnement</button>
        </a>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-md-4">
                <a href="">
                    <button type="button" class="btn btn-dark btn-lg btn-block">Profil</button>
                </a>
                <ul class="list-group mb-3">
                    <li class="list-group-item"><span class="text-info">Nom :</span> Amina</li>
                    <li class="list-group-item">Algeria</li>
                    <li class="list-group-item">Marocenforce@maroc.fr</li>
                    <li class="list-group-item">5 ru lamartine</li>
                    <li class="list-group-item">je suis sancho de cuba</li>
                </ul>
                <a href="">
                    <button type="button" class="btn btn-light  ">Mofidier</button>
                </a>
            </div>
            <div class="col-md-4 offset-md-4">
                <a href="">
                    <button type="button" class="btn btn-dark btn-lg btn-block">Vos Enfants</button>
                </a>
                <table class="table profil">
                    <thead class="thead-light font-weight-bold">
                    <tr>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-primary">
                        <td>louis <a href=""></td>
                        <td>Niort <a href=""></td>
                    </tr>
                    </tbody>
                </table>
                <a href="">
                    <button type="button" class="btn btn-light text-right  ">Mofidier</button>
                </a>
            </div>
        </div>


        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <a href="">
                        <button type="button" class="btn btn-dark btn-lg btn-block">Liste des demandes</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="container mt-3">
            <div class="row">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom du professionnelle</th>
                        <th scope="col">date de deamnde</th>
                        <th scope="col">statut</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Crêche du nord</td>
                        <td>10/08/1989</td>
                        <td>Refusé</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Crêche du sud</td>
                        <td>10/08/1989</td>
                        <td>Refusé</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Crêche de l'ouest</td>
                        <td>10/08/1989</td>
                        <td>Accepté</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Crêche de l'est</td>
                        <td>10/08/1989</td>
                        <td>Accepté</td>
                    </tr>
                    </tbody>
                </table>
                {#   HERE#}

            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <a href="">
                        <button type="button" class="btn btn-dark btn-lg btn-block">Liste des avis</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">

                <div class="panel panel-default p-2 panel-index-color">
                    <div class="panel-heading text-sm-center"><h3>Hello.</h3></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default p-2 panel-index-color">
                    <div class="panel-heading text-sm-center"><h3>Hello.</h3></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default p-2 panel-index-color">
                    <div class="panel-heading text-sm-center"><h3>Hello.</h3></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis

                    </div>
                </div>
            </div>


        </div>

    </div>
{% endblock body %}