{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}

    <table class="table profil">
        <thead class="thead-light font-weight-bold">
        <tr>
            <th scope="col"><div class="panel-body">Avis</div></th>
            <th scope="col">Nom de la crêche</th>
            <th scope="col">Nom de l'utilisateur</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-primary">
            <td>
                <div class="col-md-4">
                    <div class="panel panel-default p-2 panel-index-color">
                        <div class="panel-heading text-sm-center"><h3>Hello.</h3></div>
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                            varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet
                            felis

                        </div>
                    </div>
                </div>
            </td>
            <td><a href="#" class="mt-4">Crêche.com</a></td>
            <td><a href="#" class="mt-4">Quentin</a></td>
            <td>01/04/2019</td>
        </tr>
        </tbody>
    </table>
    <table class="table profil">
        <thead class="thead-light font-weight-bold">
        <tr>
            <th scope="col"><div class="panel-body">Avis</div></th>
            <th scope="col">Nom de la crêche</th>
            <th scope="col">Nom de l'utilisateur</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-primary">
            <td>
                <div class="col-md-4">

                    <div class="panel panel-default p-2 panel-index-color">
                        <div class="panel-heading text-sm-center"><h3>Hello.</h3></div>
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                            varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet
                            felis

                        </div>
                    </div>
                </div>
            </td>
            <td><a href="#" class="mt-4">Crêche.com</a></td>
            <td><a href="#" class="mt-4">Quentin</a></td>
            <td>01/04/2019</td>
        </tr>
        </tbody>
    </table>
    <table class="table profil">
        <thead class="thead-light font-weight-bold">
        <tr>
            <th scope="col"><div class="panel-body">Avis</div></th>
            <th scope="col">Nom de la crêche</th>
            <th scope="col">Nom de l'utilisateur</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-primary">
            <td>
                <div class="col-md-4">

                    <div class="panel panel-default p-2 panel-index-color">
                        <div class="panel-heading text-sm-center"><h3>Hello.</h3></div>
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                            varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet
                            felis

                        </div>
                    </div>
                </div>
            </td>
            <td><a href="#" class="mt-4">Crêche.com</a></td>
            <td><a href="#" class="mt-4">Quentin</a></td>
            <td>01/04/2019</td>
        </tr>
        </tbody>
    </table>


    {#   HERE#}



{% endblock body %}