{% extends 'base.html.twig' %}

{% block body %}
  <div class="clear"></div>
    {{ parent() }}
    <div class="container mt-5 mb-5" style="padding-top: 80px;">
        <div class="h1"> <h1 class="text-center">Liste de vos avis </h1> </div>
        <div class="row text-center">

            <table class="table">
                <thead class="hmed font-weight-bold">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"><div class="panel-heading text-sm-center">Avis</div></th>
                    <th scope="col">Nom de l'utilisateur</th>
                    <th scope="col">Nom de la crêche</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Date de modification</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Supprimer</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mes enfants ont était gardé par la crêche du nord je remercie super nany pour son travail c'est un endroit que je conseille</td>
                    <td><a href="">Quentin</a></td>
                    <td><a href="">Crêche.com</a></td>
                    <td>01/04/2019</td>
                    <td></td>
                    <td><a href=""><button class="btn btn-primary" type="button">Modifier</button></a></td>
                    <td><a href=""><button class="btn btn-primary" type="button">Supprimer</button></a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Mes enfants ont était gardé par la crêche du sud je remercie super nany pour son travail c'est un endroit que je conseille</td>
                    <td><a href="">Quentin</a></td>
                    <td><a href="">?.?</a></td>
                    <td>01/04/2019</td>
                    <td></td>
                    <td><a href=""><button class="btn btn-primary" type="button">Modifier</button></a></td>
                    <td><a href=""><button class="btn btn-primary" type="button">Supprimer</button></a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Mes enfants ont était gardé par la crêche de l'ouest je remercie super nany pour son travail c'est un endroit que je conseille</td>
                    <td><a href="">Quentin</a></td>
                    <td><a href="">Crêche.com</a></td>
                    <td>01/04/2019</td>
                    <td></td>
                    <td><a href=""><button class="btn btn-primary" type="button">Modifier</button></a></td>
                    <td><a href=""><button class="btn btn-primary" type="button">Supprimer</button></a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    {#   HERE#}



{% endblock body %}