{% extends 'base.html.twig' %}

{% block body %}
<div class="clear"></div>
    {{ parent() }}
    <div class="col-md-4 offset-md-4 mb-5 mt-5" style="padding-top: 90px;">
        <div class="col-md hmed text-center mb-2" style="border-radius: 30px; padding: 5%;">Liste des occupants</div>


        <table class="table profil">
            <thead class="thead-light font-weight-bold">
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-primary">
                <td>louis </td>
                <td>Niort  </td>
            </tr>
            </tbody>
        </table>
        <a href="">
            <button type="button" class="btn  text-right hmed  ">Ajouter</button>
        </a>
        <a href="">
            <button type="button" class="btn  text-right hmed  ">Modifier</button>
        </a>
    </div>
{% endblock body %}