{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}

    <div class="header3" id="header3">

        <div class="container">
            <div class="intro center-content">
                <div class="row">
                    <div class="col-md-5"></div>

                    <div class="col-md-7">

                        <h1 class="my-5">Liste d'attentes</h1>

                    </div>


                </div><!-- row -->

            </div><!-- intro -->

        </div><!-- container -->

    </div><!-- header -->

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <table class="table">
                    <thead class="font-weight-bold">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom du professionnelle</th>
                        <th scope="col">date de demande</th>
                        <th scope="col">statut</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Crêche du nord</td>
                        <td>10/08/1989</td>
                        <td>Refusé</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Crêche du sud</td>
                        <td>10/08/1989</td>
                        <td>Refusé</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Crêche de l'ouest</td>
                        <td>10/08/1989</td>
                        <td>Accepté</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Crêche de l'est</td>
                        <td>10/08/1989</td>
                        <td>Accepté</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>




{% endblock body %}