{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}

    <div class="header3" id="header3">

        <div class="container">
            <div class="intro center-content">
                <div class="row">
                    <div class="col-md-5"></div>

                    <div class="col-md-7">

                        <h1 class="my-5">Liste des Avis</h1>

                    </div>


                </div><!-- row -->

            </div><!-- intro -->

        </div><!-- container -->

    </div><!-- header -->

    <div class="container mt-4">

        <h1 class="text-center mb-4">Ce que l'on peut de vous</h1>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3">

                <div class="panel panel-default p-2 panel-index-color">
                    <div class="panel-heading text-sm-center"><h3>Hello.</h3></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default p-2 panel-index-color">
                    <div class="panel-heading text-sm-center"><h3>Hello.</h3></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default p-2 panel-index-color">
                    <div class="panel-heading text-sm-center"><h3>Hello.</h3></div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock body %}