{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock title %}

{% block body %}

    {{ parent() }}
    {% for message in app.flashes('danger') %}
        <div class="danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="clear" style="padding-top: 100px">
        <form method="post">
            <label for="mail">Veuillez saisir votre Email : </label>
            <br><input type="email" id="mail" name="mail" placeholder="Email">

            <br><input type="submit" name="submitted" value="Valider" style="margin-bottom: 300px">
        </form>
    </div>

{% endblock body %}