{% extends 'base.html.twig' %}

{% block title %}Reset Mot de passe{% endblock %}

{% block body %}
    <div class="clear"></div>
    {{ parent() }}
    <form method="post">
        <h1>Reset du Mot de passe</h1>
        <label for="password">Veuillez saisir votre nouveau mot de passe : Attention 6 caractères minimum et 34 caractères maximum</label>
        <br><input type="password" name="password" id="password">
        <input type="hidden" name="token" value="{{ token }}">

        <br><input type="submit" value="Enregistrer">
    </form>

{% endblock body %}