{% extends 'base.html.twig' %}

{% block title %}New ProProfil{% endblock %}

{% block body %}
    <h1>Create new ProProfil</h1>

    {{ include('pro_profil/_form.html.twig') }}

    <a href="{{ path('pro_profil_index') }}">back to list</a>
{% endblock %}
