{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}


    <div class="container-index">

        <header class="header3" id="header3">

            <div class="container">
                <div class="intro center-content">
                    <div class="row">
                        <div class="col-md-5"></div>

                        <div class="col-md-7">

                            <h1 class="text-left pull-stop">Devenir membres</h1>
                            <p class="text-left ">
                                Les Ptits poussins est une plateforme sures et rapides qui vous permet dêtre visibles
                                devant des parents à la recherche d'un nounou pour leurs bambins
                            </p>

                        </div>


                    </div><!-- row -->

                </div><!-- intro -->

            </div><!-- container -->

        </header><!-- header -->

        <div class="container mt-4">

            <h1 class="text-center mb-4">Les ptits poussins, c'est quoi ?</h1>

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">

                    <div class="panel panel-default p-2 panel-index-color">
                        <div class=""><img class="img-fluid"
                                           src="https://cdn.pixabay.com/photo/2016/01/20/11/11/baby-1151351_640.jpg"
                                           alt=""></div>
                        <div class="panel-heading text-sm-center mt-1"><h3>Paiements sécurisés en ligne</h3></div>
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                            varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit
                            amet felis

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-default p-2 panel-index-color">
                        <div class=""><img class="img-fluid"
                                           src="https://cdn.pixabay.com/photo/2016/01/20/11/11/baby-1151351_640.jpg"
                                           alt=""></div>
                        <div class="panel-heading text-sm-center mt-1"><h3>Transmission de documents</h3></div>
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                            varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit
                            amet felis

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-default p-2 panel-index-color">
                        <div class=""><img class="img-fluid"
                                           src="https://cdn.pixabay.com/photo/2016/01/20/11/11/baby-1151351_640.jpg"
                                           alt=""></div>
                        <div class="panel-heading text-sm-center mt-1"><h3>Gestion des demandes</h3></div>
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                            varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit
                            amet felis

                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>

            </div>

        </div>

        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">

                <h2>Nous contacter</h2>

                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nom de votre structure</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nom du contact</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Mail</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Téléphone</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Premier contact</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Téléphone : Pour vous expliquer de vive voix</option>
                            <option>Mail : pour recevoir notre documentations</option>
                            <option>Les deux</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </form>

            </div>
        </div>
    </div>

    </div>



{% endblock body %}