{% extends 'base.html.twig' %}

{% block body %}
    <div class="clear"></div>
    <div class="container mb-5" style="padding-top: 100px;">
        <h1 class="h1 text-center mt-3 font-weight-bold">Les conditions d'utilisation</h1>
        <div class="mt-5 text-justify">
            <div class="mb-3">
            L’accès à certaines sections du site Internet www.Lespetitspoussins.com (ci-après le « Site ») ainsi que toute demande de renseignements pourra entraîner la communication de Données Personnelles vous concernant.

            Nous pouvons constituer un fichier comportant des Données Personnelles que vous nous avez communiquées, notamment lors de la réalisation d’une demande de place en crèche via nos formulaires ou au cours de l’utilisation de certains services.

            La présente Politique de Confidentialité est destinée à informer chaque utilisateur du Site, avant qu’il communique des données personnelles le concernant, sur les conditions et la manière dont les données personnelles qu’il fournit sur ce site sont traitées par le groupe Lespetitspoussins.

            Lespetitspoussins reconnaît l’importance d’assurer la protection et la sécurité de la vie privée et des Données Personnelles et a établi cette Politique de Confidentialité en conformité avec les critères les plus stricts de protection des données personnelles et toute Règlementation Applicable.

            Vous êtes informé de la collecte et du traitement des Données Personnelles vous concernant et vous consentez, du fait de l’acceptation de la présente Politique de Confidentialité à la constitution de ce fichier et au traitement de vos Données Personnelles, dans les conditions et selon les modalités définies ci-après.
            </div>

            <h2 class="h2">1.Définintions</h2>

            Les termes débutant par une majuscule ont la signification fournie dans le glossaire figurant à la suite de la présente Politique.

            <h2 class="h2">2.Traitements des Données Personnelles</h2>

            <h3 class="h3">2.1 La présente Politique de Confidentialité</h3> est applicable aux Traitements par Lespetitspoussins, qui agit en qualité de responsable de traitement, des Données Personnelles fournies volontairement par vous sur le Site.

            La communication de ces données est facultative. Les informations marquées par un astérisque sont nécessaires à Lespetispoussins pour répondre aux demandes de l’Utilisateur dans le cadre des fonctionnalités du Site.

            Toute information marquée par un astérisque qui serait partielle, inexacte ou manquante, rend impossible la fourniture par Lesptitspoussins services ou prestations demandés par l’Utilisateur. Cependant, la fourniture d’informations partielles ou inexactes n’entraîne aucune conséquence pour l’Utilisateur.

            Les autres informations demandées, pour lesquelles la réponse est facultative, sont destinées à mieux vous connaître et ainsi à améliorer les services qui vous sont proposés, tout en en assurant la sécurité.

            <h3>2.2 Les informations recueillies font l’objet d’un traitement informatique destiné :</h3>

            à traiter une simulation de réservation et à rechercher des places en crèche correspondant à vos besoins et à vos choix renseignés dans les formulaires de demandes de place en crèche ;
            à vous permettre de bénéficier de certains de nos services (réception de notre newsletter),
            analyser la fréquentation des pages du Site.
            répondre à vos demandes de contact (via les formulaires de contact).

            Dans le cas où vous bénéficieriez d’une place en crèche par notre biais dans notre réseau de crèches partenaires, nous pouvons être amenés à transmettre certaines de vos Données Personnelles (nom, prénom, mail, nom de votre enfant, prénom de votre enfant, date de naissance de votre enfant) au gestionnaire de crèche, membre de notre réseau, accueillant votre enfant au sein de sa structure.

            Par ailleurs, lors de la réalisation d’une demande de place en crèche et/ou à l’occasion de votre participation à certains services mis à disposition sur notre site internet, vous pourrez, si vous le souhaitez, accepter de recevoir par mail des informations sur le réseau 1001 Crèches et ses partenaires (newsletter petite enfance du Groupe Babilou, clubs enfants Filapi etc).

            <h3>2.3 Le tableau figurant ci-dessous résume :</h3>

            l’objet et la/les finalité(s) du Traitement,
            les personnes concernées par le Traitement,
            les catégories de Données Personnelles Traitées,
            les destinataires des Données Personnelles,
            la durée de conservation des Données Personnelles.

            <h3>2.4 Lespetitspoussins s’engage:</h3> à ne Traiter les Données Personnelles que pour les finalités décrites ci-dessus, à l’exclusion de toute autre finalité. En particulier, Lespetitspoussins n’effectue aucune commercialisation ou location des Données Personnelles à des Tiers.

            <h2>3.Mesures techniques et organisationnelles</h2>

            <h3>3.1 Lespetitspoussins </h3>met en œuvre les mesures techniques et organisationnelles appropriées, afin d’assurer la protection des Données Personnelles et assortir leur Traitement des garanties nécessaires, en conformité avec les exigences du RGPD.

            En particulier, Lespetitspoussins prend toutes les précautions utiles au regard de la nature des Données Personnelles qui lui sont communiquées et des risques présentés par leur Traitement, afin de préserver leur sécurité et, notamment, empêcher qu’elles soient déformées, endommagées, ou que des Tiers non autorisés y aient accès.

            <h3>3.2 Les mesures techniques et organisationnelles prises par Lespetitspoussins sont régulièrement testées, analysées et évaluées, afin de vérifier leur efficacité.

            4. Demandes de Tiers

            Lespetitspoussins s’engage à ne pas divulguer les Données Personnelles à des Tiers sans l’autorisation des Utilisateurs,
            sauf en cas de requête ou injonction administrative ou judiciaire ou en application d’une exigence légale ou règlementaire.

            5. Droits des Utilisateurs

            5.1 Conformément aux articles 15 à 21 du RGPD, l’Utilisateur dispose du droit :

            d’obtenir la confirmation que des Données Personnelles sont ou ne sont pas traitées et, lorsqu’elles le sont, l’accès auxdites Données Personnelles,
            de rectifier les Données Personnelles qui sont inexactes et de les compléter compte tenu des finalités du Traitement,
            d’obtenir l’effacement de Données Personnelles, notamment lorsque :
            les Données Personnelles ne sont plus nécessaires au regard des finalités pour lesquelles elles ont été Traitées,
            les Données Personnelles ont fait l’objet d’un traitement illicite,
            les Données Personnelles doivent être effacées pour respecter une obligation légale,
            de limitation des Traitements de ses Données Personnelles, notamment lorsque leur exactitude est contestée ou que le Traitement est illicite,
            à la portabilité de ses Données Personnelles, à savoir le droit de recevoir les Données Personnelles, dans un format structuré,
            couramment utilisé et lisible par machine, afin de les transmettre à un autre responsable de traitement, sous réserve que le Traitement concerné des Données Personnelles soit effectué à l’aide de procédés automatisés (informatiques).Afin d’exercer l’un quelconque de ses droits, l’Utilisateur doit adresser une demande au Délégué à la Protection des Données :

            Lespetitspoussins s’engage à accuser réception de toute demande formée à ce titre par un Utilisateur et à la traiter dans les meilleurs délais. Elle s’engage en outre à notifier à tout destinataire des Données Personnelles auxquelles elles auraient été communiquées avec le consentement des Utilisateurs toute rectification, tout effacement ou toute limitation du Traitement, à moins qu’une telle communication se révèle impossible ou exige des efforts disproportionnés.

            5.2 En outre, les Utilisateurs disposent du droit d’introduire une réclamation auprès d’une Autorité de Contrôle, à savoir la CNIL en France.

            6. Confidentialité

            Lespetispoussins s’engage à ce que chaque membre de son personnel autorisé à Traiter des Données Personnelles des Utilisateurs soit soumis à des obligations strictes de confidentialité et de protection des Données Personnelles, et s’engage notamment à :

            ne Traiter que les Données Personnelles strictement nécessaires à la réalisation des finalités pour lesquelles elles sont collectées,
            ce que les Données Personnelles ne soient pas Traitées à des fins autres que celles pour lesquelles elles ont été collectées, sauf en cas de requête ou injonction administrative ou judiciaire ou en application d’une exigence légale ou règlementaire,
            prendre toutes les mesures conformes aux usages et à l’état de l’art afin d’éviter l’utilisation détournée ou frauduleuse des Données Personnelles et de préserver la sécurité physique et logique des Données Personnelles ;
            en cas de cessation de ses fonctions, restituer intégralement les données, fichiers informatiques et tout support d’information relatif aux Données Personnelles,
            informer immédiatement et par quelque moyen que ce soit Lespetitspoussins de toute Violation des Données Personnelles dont il aura connaissance.

            7. Transfert de Données Personnelles
            Lespetitspoussins n’effectue aucun transfert de Données Personnelles vers un Etat non membre de l’Union européenne ou de l’Espace Economique Européen.

            8. Violation de Données Personnelles

            8.1 Lespetitspoussins informera dans les meilleurs délais chaque Utilisateur concerné de toute Violation de ses Données Personnelles susceptible d’engendrer un risque élevé pour ses droits et libertés, conformément aux Article 33 et 34 du RGPD. Cette information décrit notamment les conséquences probables de la Violation, ainsi que les mesures prises ou envisagées par Lespetitspoussins pour remédier à la Violation, y compris les mesures prises pour en atténuer les éventuelles conséquences négatives.

            8.2 Cependant, l’information visée à l’Article 10.1 précité n’est pas nécessaire si l’une ou l’autre des conditions suivantes est remplie :

            Lespetitspoussins a mis en œuvre les mesures de protection techniques et organisationnelles appropriées et ces dernières ont été appliquées aux Données Personnelles affectées par ladite Violation,
            Lespetitspoussins a pris des mesures ultérieures garantissant que le risque élevé pour les droits et libertés des Utilisateurs n’est plus susceptible de se matérialiser,
            elle exigerait des efforts disproportionnés.10.3 1001 Crèches notifiera à l’Autorité de Contrôle dans les meilleurs délais et si possible dans les 72 heures après en avoir pris connaissance, toute Violation susceptible d’engendrer un risque élevé pour les droits et libertés des Utilisateurs.

            9. Dispositions générales

            9.1 En cas de conflit entre la présente Politique de Confidentialité et les conditions générales d’utilisation d’une offre souscrite ultérieurement par l’Utilisateur, la présente Politique prévaudra, au regard des Traitements de Données Personnelles décrits à l’Article 2.

            9.2 Si l’une quelconque des stipulations de la présente Politique de Confidentialité venait à être annulée ou déclarée inapplicable, en partie ou dans sa totalité, en vertu des lois et règlements en vigueur, elle sera exclue de la présente Politique sans affecter la validité et l’applicabilité de l’ensemble de ses autres stipulations.

            9.3 La Politique de Confidentialité est susceptible d’être modifiée par Lespetitspoussins à tout moment, notamment du fait de changements techniques ou normatifs. Le cas échéant, Lespetitspoussins s’engage à communiquer la nouvelle Politique de Confidentialité aux Utilisateurs.

            Cette version a été établie le 20 mars 2019
        </div>
    </div>


{% endblock body %}