{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}


    <div class="container-index">

        <header class="header_eggy" id="header3">

            <div class="container">
                <div class="intro center-content">
                    <div class="row">
                        <div class="col-md-5"></div>

                        <div class="col-md-7">

                            <h1 class="text-left pull-stop">Eggy vous trouves votre enfants</h1>
                            <p class="text-left ">
                                Tempor enim incididunt ab quibusdam eu pariatur do nulla te in sint appellat ab
                                aut fore labore de possumus. Elit relinqueret ingeniis lorem vidisse, sed malis
                                nulla culpa commodo. Fugiat a nescius se malis ita aliquip aute nulla id cillum
                                ut labore ullamco instituendarum, se nulla nostrud voluptate ea hic illum nam
                                quem, eram ubi aliquip, cupidatat fore dolor arbitror aliqua
                            </p>

                        </div>


                    </div><!-- row -->

                </div><!-- intro -->

            </div><!-- container -->

        </header><!-- header -->




{% endblock body %}