{% extends 'base.html.twig' %}

{% block body %}


            <div class="wrap">
                <div class="post">
                    <img class="img-fluid mt-4 " src={{ asset('build/images/photo1.jpg') }} alt="image_creche"/>
                    </div>
                <div class="poster2 mt-4">

                    <h1 class="h1 text-center mt-2 titl">Les p'tits poussins</h1>
                         <p class="text-center mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab architecto
                            asperiores debitis delectus, ducimus eos esse expedita, explicabo molestiae neque nostrum omnis
                            provident quibusdam quod repellendus rerum suscipit veritatis!</p>
                            <br>
                         <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad distinctio est
                            facilis magni maiores nemo nesciunt nulla quisquam, reprehenderit! Beatae dolor, enim exercitationem
                            impedit minus placeat porro quae quo quod.</p>
                            <br>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad distinctio est
                            facilis magni maiores nemo nesciunt nulla quisquam, reprehenderit! Beatae dolor, enim exercitationem
                            impedit minus placeat porro quae quo quod.</p>
                            <br>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad distinctio est
                            facilis magni maiores nemo nesciunt nulla quisquam, reprehenderit! Beatae dolor, enim exercitationem
                            impedit minus placeat porro quae quo quod.</p>

                    <div class="lien col-md-4 offset-md-4 ">
                            <a href="#" class="btn  btn btn-outline-secondary  btn-lg button mt-3  pare ">Je suis parents</a>
                            <a href="#" class="btn  btn btn-outline-secondary btn-lg button mt-3  pro">Je suis un pro</a>
                    </div>
                </div>
            </div>

        <div class="clear"></div>

        <div class="container">
            <div class="wrap1">
                <div class="poster3 mt-4">
                    <h1 class="h1 text-center mt-2 titl">Les p'tits poussins</h1>
                        <h2 class="h2 text-center"> explication pour le parent</h2>
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam
                                dignissimos enim, excepturi facere obcaecati quod? Aliquid animi eos facilis laborum quaerat
                                temporibus. At delectus deleniti dolorem iusto neque veniam.</p>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam
                        dignissimos enim, excepturi facere obcaecati quod? Aliquid animi eos facilis laborum quaerat
                        temporibus. At delectus deleniti dolorem iusto neque veniam.</p>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam
                        dignissimos enim, excepturi facere obcaecati quod? Aliquid animi eos facilis laborum quaerat
                        temporibus. At delectus deleniti dolorem iusto neque veniam.</p>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam
                        dignissimos enim, excepturi facere obcaecati quod? Aliquid animi eos facilis laborum quaerat
                        temporibus. At delectus deleniti dolorem iusto neque veniam.</p>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam
                        dignissimos enim, excepturi facere obcaecati quod? Aliquid animi eos facilis laborum quaerat
                        .</p>


                        <a href="#" class="btn btn-outline-dark btn-lg button mt-3 col-md-6 offset-md-3">Inscription</a>
                </div>
                <div class="poster4 mt-4">
                    <img class=" mt-4 imgirl" src={{ asset('build/images/girly.jpg') }} alt="image_creche"/>
                        <h5 class="h5 text-center"> texte description entreprise</h5>
                        <br>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam blanditiis, delectus eius
                                excepturi expedita, iusto maiores modi molestias mollitia, porro quam quo reiciendis repudiandae
                                rerum totam ut velit vero!</p>
                        <a href="#" class="btn btn-outline-dark btn-lg button mt-3 col-md-6 offset-md-3"> Nous contacter</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>


{% endblock body %}