{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}

<div class="container-index">

    <header class="header3 transparent" id="header3">

        <div class="container">
            <div class="intro center-content">
                <div class="row">
                    <div class="col-md-5"></div>

                    <div class="col-md-7">

                        <h1 class="text-left pull-stop">LES P'TITS POUSSINS</h1>
                        <p class="text-left ">
                            Tempor enim incididunt ab quibusdam eu pariatur do nulla te in sint appellat ab
                            aut fore labore de possumus. Elit relinqueret ingeniis lorem vidisse, sed malis
                            nulla culpa commodo. Fugiat a nescius se malis ita aliquip aute nulla id cillum
                            ut labore ullamco instituendarum, se nulla nostrud voluptate ea hic illum nam
                            quem, eram ubi aliquip, cupidatat fore dolor arbitror aliqua
                        </p>

                        <div class="text-left">
                            <a href="#" class="btn btn-outline-dark btn-lg button mt-3 mx-3">Je suis parents</a>
                            <a href="#" class="btn btn-outline-dark btn-lg button mt-3 mx-3">Je suis un pro</a>
                            <a href="#" class="btn btn-outline-dark btn-lg button mt-3 mx-3">Se connecter</a>
                        </div>

                    </div>


                </div><!-- row -->

            </div><!-- intro -->

        </div><!-- container -->

    </header><!-- header -->

    <div class="container mt-4">

        <h1 class="text-center mb-4">Ce que l'on peut faire</h1>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">

            <div class="panel panel-default p-2 panel-index-color">
                <div class=""><img class="img-fluid" src="https://cdn.pixabay.com/photo/2016/01/20/11/11/baby-1151351_640.jpg" alt=""></div>
                <div class="panel-heading text-sm-center"><h3>Hello.</h3></div>
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default p-2 panel-index-color">
                <div class=""><img class="img-fluid" src="https://cdn.pixabay.com/photo/2016/01/20/11/11/baby-1151351_640.jpg" alt=""></div>
                <div class="panel-heading text-sm-center"><h3>Hello.</h3></div>
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis

                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default p-2 panel-index-color">
                <div class=""><img class="img-fluid" src="https://cdn.pixabay.com/photo/2016/01/20/11/11/baby-1151351_640.jpg" alt=""></div>
                <div class="panel-heading text-sm-center"><h3>Hello.</h3></div>
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>

    </div>

    </div>

</div>
{% endblock body %}