{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}
    //container
    <div class="container ner">
        <div class="col">
            <h1 class="h1 text-center mt-2 titl">Les p'tits poussins</h1>
        </div>
    </div>

    <div class="container ">
    <div class="row">
    <div class="col">
        <img class="img-fluid mt-4 " src={{ asset('build/images/photo1.jpg') }} alt="image_creche"/>
    </div>
    <div class="col">
        <h2 class="h2 text-center mt-2 ">Les p'tits poussins</h2>
        <p class="text-center m2-5">Une plate-form dédié aux parents et aux professionnel</p>
        <br>

        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad distinctio est facilis magni
            maiores nemo nesciunt nulla quisquam, reprehenderit! Beatae dolor, enim exercitationem impedit minus placeat
            porro quae quo quod.</p>
        <br>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad distinctio est facilis magni
            maiores nemo nesciunt nulla quisquam, reprehenderit! Beatae dolor, enim exercitationem impedit minus placeat
            porro quae quo quod.</p>
        <br>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad distinctio est facilis magni
            maiores nemo nesciunt nulla quisquam, reprehenderit! Beatae dolor, enim exercitationem impedit minus placeat
            porro quae quo quod.</p>
        <div class="button">
            <a href="{{ path('inscription') }}" class="btn  btn btn-outline-secondary  btn-lg button mt-3  pare ">Je suis parents</a>
            <a href="#" class="btn  btn btn-outline-secondary btn-lg button mt-3  pro">Je suis un pro</a>
        </div>

    </div>

    {#end container#}

    {#    container#}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="h1 text-center mt-2 titl">Les p'tits poussins</h1>
                <h2 class="h2 text-center"> explication pour le parent</h2>
                <p class="text-center"> Rechercher des crêches et, ou une nounou en un click</p>
                <p class="text-center">Gagné du temps pour l'inscription de vos enfants en crêche</p>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, debitis, sunt. A asperiores aut cum, inventore ipsa labore laboriosam laudantium, mollitia nam, natus officiis praesentium quae qui quis temporibus vitae.</p>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam
                    dignissimos enim, excepturi facere obcaecati quod? Aliquid animi eos facilis laborum quaerat
                    temporibus. At delectus deleniti dolorem iusto neque veniam.</p>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam
                    dignissimos enim, excepturi facere obcaecati quod? Aliquid animi eos facilis laborum quaerat
                    temporibus. At delectus deleniti dolorem iusto neque veniam.</p>
                <a href="#" class="btn btn-outline-dark btn-lg button mt-2 mb-4 col-md-6 offset-md-3"> Nous
                    contacter</a>
            </div>
            <div class="col">
                <img class=" mt-4 imgirl" src={{ asset('build/images/girly.jpg') }} alt="image_creche"/>
                <h5 class="h5 text-center"> texte description entreprise</h5>
                <br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam blanditiis, delectus eius
                    excepturi expedita, iusto maiores modi molestias mollitia, porro quam quo reiciendis repudiandae
                    rerum totam ut velit vero!</p>
                <a href="#" class="btn btn-outline-dark btn-lg button mt-3 col-md-6 offset-md-3"> Nous contacter</a>
            </div>
        </div>
    </div>
    </div>
    </div>
    {#end container#}

{% endblock body %}