{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}

    <section class="header10">
        <div class="container">
            <div class="media-container-column mbr-white p-5 align-left col-lg-8 col-md-10">
                <h1 class="text-center mbr-section-title mbr-bold pb-3  display-1">Abonnement</h1>

                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Abonnez-vous et profitez de notre offre "e-bracelet" gratuit pour votre enfant.</p>
            </div>

            <div class="card float-left m-lg-4 p-4" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            <div class="card m-lg-4  p-4" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>

            <div class="card  m-lg-4 p-4" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </section>






{% endblock body %}