{% extends 'base.html.twig' %}

{% block body %}

    {{ parent() }}
    <div class="clear"></div>

    <div class="container mt-4 offset">
        <div class="mb-3">
            <br>
            <br>
            <h1 class="h1">Abonnement</h1>
            <h2 class="h2 text-center">Espace membres: proposez un accès payant</h2>
            <div>
                <p>L'espace membres intègre plusieurs fonctionnalitées : cette option vous offre de nouvelles opportunités pour rentabiliser votre activité sur notre site ! </p>
            </div>
        </div>
        <div class="">
            En quelques clics vous allez pouvoir vous abonner.
            Pour utiliser cette fonctionnalité, il est nécessaire de disposer de la version pro et d'avoir activé au préalable l'espace membres et les moyens de paiements sur votre site web.
        </div>

        <div class="row p-4 text-center">
            <div class="col-md-2"></div>
            <div class="col-md-3">

                <div class="panel panel-default p-2 border border-success rounded">
                    <div class="panel-heading text-sm-center"><h3 class="h3">Créer mon compte</h3></div>
                    <div class="panel-body">Rentrer des informations valides
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default p-2 border border-success rounded">
                    <div class="panel-heading text-sm-center"><h3 class="h3">Vérifier son adresse mail</h3></div>
                    <div class="panel-body">Et cliquer sur le lien présent dans le mail

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default p-2 border border-success rounded">
                    <div class="panel-heading text-sm-center"><h3 class="h3">Souscrire à l'abonnement</h3></div>
                    <div class="panel-body">Et profiter de plusieurs fonctionnalités disponibles que pour les abonnées
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>

        </div>

        <div class="card text-center mt-3">
            <div class="card-header">
                Offre d'abonnement
            </div>
            <div class="card-body">
                <h5 class="card-title">Profitez de notre abonnement pour 15€/mois</h5>
                <a href="#" class="btn btn-success">Je m'abonne</a>
            </div>
            <div class="card-footer text-muted">
                <a href="#">Retour à l'accueil</a>
            </div>
        </div>

    </div>

{% endblock body %}