{% extends 'base.html.twig' %}

{% block body %}
    <div class="clear"></div>
    {{ parent() }}
    <div class="container" style="padding-top: 100px;">
        <img src="{{ asset('build/images/bebedoigt.jpg') }}" alt="" width="100%" height="700px">
    </div>
{% endblock body %}