<section id="footer3" class="footer3 py-5 mt-5" style="background-color: #F78764">



    <div class="container ">
        <div class="row">
            <div class="col-md-8 col-md-offset-3 text-center social">

                <h2>Nous sommes les P'tits poussins</h2>

                <span class="">Retrouvez nous sur les réseaux sociaux</span><br>
                <a href="#"><i class="fab fa-twitter fa-2x m-3"></i></a>
                <a href="#"><i class="fab fa-facebook-square fa-2x m-3"></i></a>
                <br>
                <a href="#" class="mt-4">Mentions legales</a>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
</section>