<header class="header ">
    <img class="logo" src={{ asset('build/images/logosite.png') }} alt="logo"/>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a href="#work">Parent</a></li>
        <li><a href="#about">Professionnel</a></li>
        <li><a href="#careers">Connexion</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
</header>




